body {
  font-size: 16px;
  font-family: Roboto, open-sans;
  background-color: #444;
  box-sizing: border-box;
}

.container {
  position: relative;
  overflow: hidden;
  width: 375pt;
  height: 812pt;
  margin: 16pt auto;
  /*padding: 16pt; /*iOS guideline*/
  background-color: #dadada;
}
.nav_box {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100pt;
  background-color: #00B39E;
}

.nav_box p {
  font-size: 2em;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
}
.nav_box #chevron {
  margin: 0 16pt;
  position: absolute;
  top: 50%;
}
#status_bar {
  position: relative;
  margin: 0 16pt;
}

.map_container {
  position: relative;
  width: 375pt;
  height: 375pt;
}
.map_image {
  position: relative;
  background-image: url("https://github.com/fredjkim/busybus/blob/master/images/map_image.png?raw=true");
  background-size: cover;
  width: 100%;
  height: 122%;

}

.list_container {
  position: relative;
  padding-top: 10pt;
  margin: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transform: translateY(10%);
  transition: transform 0.4s ease;
}

.list_container.open {
  transform: translateY(-30%);
}

#swiper {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.transit_header {
  padding: 3%;
  text-align: center;
  font-size: 1.7em;
  color: #848484;
}

#line {
  height: 5pt;
  position: relative;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}

.row_container {
  position: relative;
  line-height: 1.25em;
  color: #848484;
  font-size: 1.25em;
  display: inline-flex;
  width: 100%;
  padding: 0;
  margin: 1% 0;
}

.data_category {
  font-weight: 400;
  color: #848484;
  margin: 2% 0 0 0;
  font-size: 1.2em;
}

.bus_group {
  color: #c1c1c1;
  font-size: 1em;
  font-weight: bold;
  margin: 6% 0 1% 0;
  text-align: center;
}

.bus_number {
  border: 2pt solid #848484;
  border-radius: 5pt;
  width: 30%;
  padding: 1% 5% 0 5%;
  margin-top: -3%;
  text-align: center;
}

.left_col {
  padding-left: 18pt;
  float: left;
  width: 40%;
}

.center_col {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.right_col {
  padding-right: 18pt;
  float: right;
  width: 40%;
  text-align: right;
}

.green {
  color: #539B00;
}
